﻿*{margin:0px;padding:0px;}
@font-face
{
	font-family:Fresca Regular;
	src:url(../fonts/ff.ttf);
}
body
{
	background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(237,237,237,1) 14%, rgba(227,227,227,1) 47%, rgba(255,255,255,1) 100%);
	margin-top: 40px;
}

#new_letter
{

	margin-left: 32%;
	visibility: visible;
	font-family: Fresca Regular;
	
}
.input_items
{
	margin-top: 5px;
}
input[type="text"]
{
	margin-top: 0px;
}
textarea
{	
	position: absolute;
	margin-top: 0px;
	margin-left: 200px;
}
#description
{
	margin-top:-110px;
	margin-left: 200px
}
#send
{
	width: 100px;
	border-radius:3px;
	border-style: solid;
	border-color: #000000;
	margin-top: 130px;
	margin-left: 260px;
}
#reset
{

	width: 100px;
	border-radius:3px;
	border-style: solid;
	border-color: #000000;
	margin-top: 130px;
	margin-left: 20px;
}
input[type=text] {
  border: 1px dotted #999;
  border-radius: 3px;
  height: 20px;
  margin-bottom: 4px;
  -webkit-appearance: none;
}
textarea
{
	border: 1px dotted #999;
 	border-radius: 4px;
 	
    -webkit-appearance: none;
}
.showitems
{
    font-family:Fresca Regular;
    margin-top:10px;
    display:block;
    padding:10px;
    padding-left:20px;
    margin-left:32%;
    width:36%;
    background-color:white;
    border-radius:5px;
    margin-bottom:20px;

}
#delete_button
{
	
	position: absolute;
	background-color:#FF2A2A;
	font-family: Fresca Regular;
	width:60px;
	font-size: 16px;
	height: 20px;
	border:0px ;
	border-radius: 3px; 
	margin-left: 420px;
	margin-top:-30px;

}
#title
{
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}
.edit_button
{
	position: absolute;
	background-color:#FF2A2A;
	font-family: Fresca Regular;
	width:60px;
	font-size: 16px;
	height: 20px;
	border:0px ;
	border-radius: 3px; 
	margin-left: 340px;
	margin-top: -30px;
	

}
#edit_form {
	width: 300px; 
	height: 300px; 
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed;
	top: 45%; 
	left: 50%; 
	margin-top: -150px;
	margin-left: -150px;
	display: none;
	opacity: 0;
	z-index: 5; 
	padding: 20px 10px;
}

#edit_form #edit_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#overlay {
	z-index:3; 
	position:fixed;
	background-color:#000;
	opacity:0.8; 
	-moz-opacity:0.8; */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none; 
}
#send_e
{
    position:fixed;
    width: 100px;
	border-radius:3px;
	border-style: solid;
	border-color: #000000;
	top: 72%; 
	left: 52%; 
}
#reset_e
{   
    position:fixed;
    width: 100px;
	border-radius:3px;
	border-style: solid;
	border-color: #000000;
    top: 72%; 
	left: 42%; 
}
#description_e
{
    position:fixed;
    left: 340PX;
    top: 50%; 
}