﻿@model FirstWebProgect.Models.Customer
@{
    ViewBag.Title = "Edit";
}

<div id="new_letter">
    <form method="post" action="/Home/Save">
        <input type="hidden" value="@Model.id" name="id" />
        <p class="input_items">Your Name</p>
        <input class="n_letter" type="text" name="name" value="@Model.name">
        <p class="input_items">Title</p>
        <input class="n_letter" type="text" name="title" value="@Model.title">
        <p class="input_items" id="description">Description</p>
        <textarea name="description" cols="40" rows="7">@Model.description</textarea>
        <input id="send" type="submit" value="Send">
        <input id="reset" type="reset" value="Reset">
    </form>
</div>
