﻿@{
    ViewBag.Title = "Test";
}

@model IEnumerable<FirstWebProgect.Models.Customer>

    <script>
        
        $(document).ready(function () { 
            var value_element = $('.edit_button').attr('value');
            $('.edit_button').click(function (event) {
                event.preventDefault();
                
                
                $('#overlay').fadeIn(400,
                    function () { 
                        $('#edit_form')
                            .css('display', 'block')
                            .animate({ opacity: 1, top: '50%' }, 200); 
                    });
            });
            $('#send_e').hover(function (event) {
                $('#id_e').attr('value', value_element);
                console.log('value_element'+value_element);
                
                
            });
           
            $('#edit_close, #overlay').click(function () { 
                $('#edit_form')
                    .animate({ opacity: 0, top: '45%' }, 200, 
                        function () { 
                            $(this).css('display', 'none');
                            $('#overlay').fadeOut(400);
                           
                        }
                    );
            });
        });
        $('#id_e').attr('value', "");
       
    </script>
   <div id="new_letter">
        <form  method="post" action="/Home/Index">
            
            <p class="input_items">Your Name</p>
            <input class="n_letter" type="text" name="name">
            <p class="input_items">Title</p>
            <input class="n_letter" type="text" name="title">
            <p class="input_items" id="description">Description</p>
            <textarea name="description" cols="40" rows="7"></textarea>
            <input id="send" type="submit" value="Send">
            <input id="reset" type="reset" value="Reset">
    </form>
   
    </div>
    
    @foreach(var b in Model)
    {
        <div class="showitems">
            <div id="author">
                <p>@b.name<p>
            </div>
            <div id="date">
                <p>29.09.2016<p>
            </div>
            <div id="edit">
                
                
                    <button type="submit" name="edit" class="edit_button" value="@b.id">Edit</button>
              
                
            </div>
            <div id="delete">
                <form method="post" action="/Home/Delete?id=@b.id">
                    <button type="submit" name="delete" id="delete_button">Delete</button>
                </form>
            </div>
            <div id="title">
                <p id="title">@b.title</p>
            </div>
            <div class="descriptionblock">
                <p> @b.description</p>
            </div>
            </div>
    }
    
    <div id="overlay"></div>
    <div id="edit_form" >
    <form method="post" action="/Home/Save">
        <span id="edit_close">X</span>
        <input type="hidden" value=""  name="id" id="id_e">
        <p class="input_items">Your Name</p>
        <input class="n_letter" type="text" name="name" >
        <p class="input_items">Title</p>
        <input class="n_letter" type="text" name="title" >
        <p class="input_items">Description</p>
        <textarea name="description" cols="40" rows="7" id="description_e"></textarea>
        <input id="send_e" type="submit" value="Send">
        <input id="reset_e" type="reset" value="Reset">
    </form>
    </div>

    
  